{% extends "base.html" %}

{% block title %}Sentinel-2 Downloader{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
{% endblock %}

{% block header_title %}🌍 Sentinel-2 Image Fetcher{% endblock %}

{% block controls %}
  <div class="loading-overlay" id="loading-overlay">
    <div class="spinner"></div>
  </div>
  <div class="date-group">
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date" required />
  </div>

  <div class="date-group">
    <label for="end-date">End Date:</label>
    <input type="date" id="end-date" required />
  </div>

  <button id="fetch-btn">Fetch Images</button>
  <button id = 'temp-wipe-test'>Wipe test temp</button>
{% endblock %}
{%block side_panel%}
<div id = 'sidepanel'>
    <h2>Settings</h2>
    <input id = ''/>
</div>
{%endblock%}
{% block output %}
  <div id="output">
    <p id = 'move-earlier'> < </p>
    <p><time id="datetime"></time></p>
    <p id = 'move-later'>></p>
  </div>
{% endblock %}

{% block scripts_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}